<div class="container m-4">
  <h1 class="d-flex p-200px">Stupid Coaching</h1>
  <div><%= params[:answer] %></div>
  <p><%= @answer %></p>
  <div><%= link_to "Ask a new question", ask_path %></div>
</div>
